#portPage{
    margin: 0;
    scroll-behavior: smooth;
    background-color: rgb(128, 0, 0);
    color: aliceblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    margin: 0;
}

header{
    word-wrap: break-word;
    margin-left: 10px;
    margin-top: 30px;
}

header h1{
    line-height: 5px;
}


img{
    display: block;
    margin: auto;
    width: 100%;
}

iframe{
    display: block;
    margin: auto;
}

section{
    display: block;
    margin: auto;
    width: 100%;
}

#about{
    box-sizing:border-box;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-flow: row nowrap;
}

#description{
    margin-left: 10px;
    width: 100%;
    word-wrap: break-word;
    height: auto;
    overflow-y: auto;
    font-size: large;
}

#description h1{
    line-height: .5px;
}

#description p{
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 20px;
}

#description img{
    width: 30%;
    height: auto;
    max-height: 500px;
    max-width: 300px;
    margin-top: 10px;
    box-sizing: border-box;
    align-self: center;
}

#description iframe{
    width: 30%;
    height: auto;
    max-height: 500px;
    max-width: 300px;
    margin-top: 10px;
    box-sizing: border-box;
    align-self: center;
}

#projects{
    align-items: center;
    box-sizing: border-box;
    background-color: #af1313;
}

#projects #title{
    margin-left: 10px;
}

#projects a, #projects h2{
    justify-content: center;
    text-align: center;
}

.carousel-control-prev, .carousel-control-next{
    top: 50%;
    bottom: 50%;
}

#projects img{
    width: 40%;
    margin-top: 10px;
    height: 50%;
}

#adventureWindow, #camelWindow, #quizWindow{
    background-color: black; 
    color: white;
    width: 670px; 
    height: 600px;
    max-height: 600px; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    overflow: auto; 
    text-align: left;
    display: flex;
    flex-direction: column-reverse;
}

.accordion-button{
    background-color: #660802;
    color: white;
    font-size: 40px;
}

.accordion-item{
    background-color: #660802;
    margin-left: 10px;
    margin-right: 10px;
}

#project1, #project2, #project3, #project4, #project5, #project6{
    margin: 10px;
    width: auto;
    max-width: 2000px;
    height: auto;
}

#project1 p, #project2 p, #project3 p, #project4 p, #project5 p, #project6 p{
    margin-left: 10px;
    margin: 10px;
    font-size: large;
}

#contact{
    padding: 10px;
    margin-top: 10px;
}

#contact h2{
    line-height: 20px;
}


a{
    text-decoration: none;
}

a:link{
    color: rgb(0, 0, 0);
}

a:visited{
    color: rgb(194, 118, 32);
}

a:focus{
    color: orangered;
}

a:hover{
    color: rgb(205, 71, 22);
}

a:active{
    color: darkgoldenrod;
}

.accordion-button:hover{
    background-color: #af1313;
}

@media (max-width: 700px){
    html{
        font-size: larger;
    }

    #description img{
        width: 50%
    }

    #projects img{
        width: 80%;
        margin-top: 10px;
    }

    #projects iframe{
        width: 80%;
        margin-top: 10px;
    }

    #projects section{
        width: 80%;
        margin-top: 10px;
    }
}
